.login {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-image: url('../../resources/img/background.png');
  }
  &__grid {
    justify-self: end;
    display: grid;
    grid-template-rows: 4.4rem 27.6rem 4.3rem 6rem 5.4rem;
    width: 68.2rem;
    padding-top: 17.7rem;
    padding-right: 18rem;
    h1{
      justify-self: center;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.4rem;
      color: #F0F0F0;
    }
    p{
      justify-self: center;
      align-self: end;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.7rem;
      color: #7D7D7D;
    }
    a{
      justify-self: center;
      align-self: end;
      text-decoration: underline;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.7rem;
      color: #E4E4E4;
    }
  }
  &__form {
    position: relative;
    display: grid;
    grid-template-rows: 2.9rem 4.6rem 5.3rem 4.6rem 10.2rem;
    label {
      align-self: end;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.5rem;
      color: #7D7D7D;
    }
    &_errorEmail {
      position: absolute;
      top: 8rem;
      left: 0;
    }
  }
  &__input {
    background-color: transparent;
    border: 2px solid #7D7D7D;
  }
  &__submitBtn {
    margin-top: 4.6rem;
    border: 2px solid #E4E4E4;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #F0F0F0;
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      cursor: default;
      border: 2px solid #7D7D7D;
      color: #7D7D7D;
    }
  }
  &__buttonContainer {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2.7rem;
    margin-top: 0.8rem;
  }
}