.button {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 0.9rem;
  align-items: center;
  justify-self: center;
  justify-content: center;
  background-color: transparent;
  color: #E4E4E4;
  
  &:hover {
    cursor: pointer;
  }
}